@media screen and (max-width: 1279px) {
    .tool{
        width: 180px;
        padding: 20px;
    }
}
@media screen and (max-width: 1023px) {
    .tools{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .skills{
        margin-left: -55px;
    }
}
@media screen and (max-width: 639px) {
    .tools{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 320px) {
    .tools{
        grid-template-columns: repeat(1, 1fr);

        .tool{
            width: 80%;
        }
    }
}