.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    .circle{
        position: relative;
    }
    .person{
        position: absolute;
        top: 49%;
        left: 50.7%;
        transform: translate(-50%, -50%);
        width: 23%;
    }
}