.portfolio {
  .cards {
    .card {
      min-height: 300px;

      > img {
        width: 30%;
        margin: 0 auto;
      }
      .source {
        > a {
          transition: all 0.3s ease;
          padding: 0 5px;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .txt, .source{
        visibility: hidden;
        transition: all 0.3s ease;
      }

      &:hover{
        .txt, .source{
          visibility: visible;
        }
      }
    }
  }
}
@media screen and (max-width: 656px) {
  .portfolio {
    .cards {
      .card {
        width: 90%;

        .txt {
          p {
            font-size: 14px;
          }
          h3 {
            font-size: 18px;
          }
        }

        > img {
          width: 100%;
          margin: 25px auto;
        }

        .source {
            justify-content: center;
          a {
            &:last-child {
              margin: 0 -15px;
            }
            > svg {
              width: 70%;
            }
          }
        }
      }
    }
  }
}
