.div_icon{
    position: relative;
    &:hover{
        .icon{
            color: #fff;
        }
    }
    .icon{
        font-size: 24px;
    }
}
.logo{
    > img{
        width: 70%;
        margin: 0 auto;
    }
}
.palete{
    animation: FadeInLarge 0.2s ease forwards;
    position: absolute;
    left: 13%;
    z-index: 1;
}

// small screens and media queries
@media screen and (max-width: 1440px) {
    .palete{
        left: 11%;
    }
}
@media screen and (max-width: 1024px) {
    .palete{
        left: 8%;
    }
}
@media screen and (max-width: 768px) {
    .icon_colors, .palete{
        flex-direction: column;
    }
    .palete{
        animation: FadeInSmall 0.2s ease forwards;
        top: 14%;
        left: 11.5%;
    }
    .div_icon{
        margin-right: 15%;
    }
    .toggleBtn{
        display: block;
        position: absolute;
        top: 150%;
        right: 0%;
    }
}
@media (max-width: 639px) {
    .header{
        align-items: flex-start;
    }
    .logo{
        display: none;
    }
    .palete{
        margin-top: -65px;
        padding-top: 25px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        left: 5.9%;
    }
}
@media (max-width: 375px) {
    .palete{
        left: 6.7%;
    }
}
@media (max-width: 320px) {
    .palete{
        left: 7.6%;
    }
}

// animation for largeScreens
@keyframes FadeInLarge {
    from {
        opacity: 0;
        transform: translateX(-20px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
}
// animation for smallScreen
@keyframes FadeInSmall {
    from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
}