@media (max-width: 768px) and (min-width: 426px) {
    .expand{
        grid-column: 2 span;
    }
}
@media screen and (max-width: 768px) {
    .blogs{
        width: calc(100% - 75px);
        margin-right: 15%;
    }
}